.notification-item
    background-color: #eeeeee
    transition: 0.9
    padding: 15px 30px
    // position: absolute
    z-index: 1000
    position: relative
    border-radius: 5px
    margin-top: 10px
    width: fit-content