<mat-list *ngIf="!isLoading">
    <h3 mat-subheader>Notesy</h3>
    <ng-container *ngIf="notebookList.length > 0">
        <mat-list-item class="notebook-list--item" *ngFor="let notebook of notebookList" (click)="loadNotebook(notebook._id)">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{ notebook.name }}</h4>
            <p mat-line>{{ notebook.description }}</p>
        </mat-list-item>
    </ng-container>

    <mat-divider></mat-divider>
    <button mat-raised-button (click)="openDialog()">Dodaj notes</button>
</mat-list>
<div *ngIf="isLoading">
    Ładowanko
</div>