<h1 mat-dialog-title>Dodaj Notatnik</h1>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="notebook.name" placeholder="Dodaj nazwę notatnika"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="notebook.description" placeholder="Dodaj opis notatnika"/>
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput [(ngModel)]="notebook.color" />
    </mat-form-field> -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cofnij</button>
    <button mat-button [mat-dialog-close]="notebook" cdkFocusInitial>
        Dodaj
    </button>
</div>
