.root-header
    height: 50px
    width: 100%
    border-bottom: 1px solid #fff
    
    &--logo
        line-height: 50px
        font-size: 30px
        text-transform: uppercase
        text-align: center