<mat-sidenav-container class="root">
  <mat-sidenav class="root-sidenav" mode="side" opened>
    <root-header></root-header>

    <div class="row">
      <div class="col-md-12" *ngIf="!authData.isAuthenticated && !register">
        <h1 class="root-text">Sign up</h1>
        <hr />
        <br />
        <form (ngSubmit)="singUp()" ngNativeValidate>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Enter your login" [(ngModel)]="user.login" required [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Enter your email" [(ngModel)]="user.email" type="email" required [ngModelOptions]="{standalone: true}"  />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Enter your password" [(ngModel)]="user.password"  type="password" required [ngModelOptions]="{standalone: true}"  />
              </mat-form-field>
            </div>
            <button class="root-button" mat-stroked-button type="submit" color="accent" class="btn btn-primary">Singup</button>
        </form>
        <p>
            <span class="root-info-text">Already have an account?&nbsp;</span>
            <button mat-button color="accent" (click)="register = !register">Log in!</button>
        </p>
      </div>
      <div class="col-md-12" *ngIf="!authData.isAuthenticated && register">
        <h1 class="root-text">Log in</h1>
        <hr />
        <br />
        <form (ngSubmit)="logIn()" ngNativeValidate>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="enter your email" [(ngModel)]="user.email" type="email" required  [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="enter your password" [(ngModel)]="user.password" type="password" required [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
          </div>
          <button mat-stroked-button color="accent" type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>
          <span class="root-info-text" >Don't have an account?&nbsp;</span>
          <button class="root-button" mat-button color="accent" (click)="register = !register">Sing up!</button>
        </p>
      </div>
      <div class="col-md-12" *ngIf="authData.isAuthenticated">
        <button mat-button color="primary" (click)="logOut()">Log Out</button>
      </div>
    </div>

    <root-notebook-list></root-notebook-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<root-notifications></root-notifications>

<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> -->
