.root
    height: 100vh
    width: 100vw

    &-sidenav
        height: 100%
        width: 15%

    .form-group, &-text, &-info-text
        padding-left: 10px
    
    mat-sidenav-content
        width: 100%